.media--fullwidth {
    width: 100%;
    height: auto;
}

nav>h4::before {
    content: url("../../public/icones/book.svg");
    margin-right: 0.5rem;
}

nav>ul>li>a::before {
    content: url("../../public/icones/bagplus.svg");
    margin-right: 0.5rem;
}


nav>ul>li>ul>li>a::before {
    content: url("../../public/icones/archive.svg");
    margin-right: 0.5rem;
}
.lang-btns {
    display: flex;
    gap: 10px;
    margin-right: 15px;
}

.lang-btn {
    padding: 6px 12px;
    border: 2px solid #333;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    color: #333;
    transition: 0.2s;
}

.lang-btn:hover {
    background: #333;
    color: #fff;
}
.page-lang-switch {
    margin-right: 10px;
}

.page-lang-switch .lang-btn {
    padding: 6px 12px;
    border: 2px solid #333;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    color: #333;
    transition: 0.2s;
}

.page-lang-switch .lang-btn:hover {
    background: #333;
    color: #fff;
}